@import "./mixin";
@import "./variable";

$font_default_size:$font_medium_s;
$backgroud:$background-color-theme;
// 总体body
body {
  height: 100%;
  width: 100%;
  -webkit-user-select:none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang-SC-Medium Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: $font_default_size;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling : touch !important;
  // position: fixed;
  // left: 0;
  // top: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing:antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  /*We will be adding our own margin to these elements as needed.*/
  margin: 0;
  /*No bold for h tags unless you want it*/
  font-weight: 400;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  outline:none;
}

input,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  /*inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that*/
  min-width: 0;
  /*Reset the font size and family*/
  font-size: 0.1rem;
  font-family: inherit;
}

/* Switching user-select on for inputs and contenteditable specifically for Safari (see bug link above)*/
input[type],
[contenteditable] {
  user-select: text;
}

/* For IE, we want to remove the default cross ('X') that appears in input fields when a user starts typing - Make sure you add your own! */
input::-ms-clear {
  display: none;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
input:focus {
  outline: 0;
}

input[type="number"] {
  /*Mozilla shows the spinner UI on number inputs unless we use this:*/
  -moz-appearance: textfield;
}

/*Removes the little spinner controls for number type inputs (WebKit browsers/forks only)*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}


a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

// 边框1px
@media (-webkit-device-pixel-ratio: 2) {
  .border-1px:after{
    height: 1px;
    content: '';
    width: 100%;
    border-bottom: 1px solid $border-color-theme;
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 2){
  .border-bottom::after {
    border-bottom-width: 1px;
  }
  .border-1px:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    border: 0 solid $border-color-theme;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    width: 200%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
//toast公共样式
.weui-toast_text {
  border-radius: 10px;
  .weui-toast__content {
    // font-size: 16px;
  }
}
// loading公共样式
.weui-loading_toast {
  .weui-toast {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;
    width: 252px;
    border-radius: 0.1rem;
    .weui-loading {
      margin: 0.5rem 0 0;
      width: 0.6rem;
      height: 0.6rem;
    }
    .weui-toast__content {
      margin: 0 0 30px;
      // font-size: 16px;
    }
  }
}

body .weui-cell__ft {
  text-align: left;
  width: 100%;
}
body .weui-cell_access .weui-cell__ft:after {
  height: 16px;
  width: 16px;
  right: 10px;
}
body .weui-cells {
  margin-top: 0;
  font-size: 7px;
}
body .weui-wepay-flow__li .weui-wepay-flow__state {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  left: -8px;
}
body .weui-wepay-flow__process {
  background-color: $background-color-theme;
}
body .weui-wepay-flow_vertical .weui-wepay-flow__line_done .weui-wepay-flow__process {
  width: 100%;
}
body .weui-wepay-flow__li_done .weui-wepay-flow__state {
  background-color: $background-color-theme;
}

.scroll_list {
  flex: 1;
  overflow: hidden;
  .main_content {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.order-statistics .lb-textarea .weui-textarea {
  font-size: 28px;
  border: 1px solid $border-color-theme;
}
body .weui-btn_primary {
  background-color: $background-color-theme1;
  font-size: 8px;
}
body .weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: $background-color-theme1;
  opacity: 0.9;
}
.v-transfer-dom, .vux-confirm, .vux-x-dialog, .weui-dialog {
  width: 100% !important;
  max-width: 5rem !important;
}
.weui-dialog > div {
  width: 500px;
  padding: 20px;
}
body .weui-dialog__bd:first-child {
  padding-top: 30px;
}
.vux-x-input.weui-cell {
  // display: flex;
  height: 60px;
  // border-bottom: none;
}
.vux-x-input.weui-cell > div {
  float: left;
}

// 文本域
body .weui-textarea {
  background:$background-color-themesec;
  border-radius: 2px;
  padding: 5px;
  font-size: 7px;
}
body .weui-textarea-counter {
  margin-top: -12.5px;
  margin-right: 5px;
}

body .weui-cells:before {
  border: none;
}
body .weui-search-bar {
  background-color: #f8f4f2;
  height: 100%;
}
// body .mescroll-downwarp {
//   overflow: auto;
// }
// body .mescroll-downwarp-reset {
//   margin-top: 30px;
// }
body .mescroll-downwarp .downwarp-content {
  min-height: 60px;
  padding: 10px 0 ;
  bottom: -30px;
}
body .mescroll-downwarp .downwarp-progress {
  width: 6px;
  height: 6px;
}
body .mescroll-downwarp .downwarp-tip {
  font-size: 6px;
}
// 搜索框
body .vux-search-box {
  position: absolute;
  padding: 2px;
  font-size: 8px;
}
body .vux-search-box * {
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
body .weui-search-bar:before {
  border-top: 0.01333rem solid transparent;
}
body .weui-search-bar:after {
  border-bottom: 0.01333rem solid transparent;
}
body .weui-search-bar__box .weui-search-bar__input {
  font-size: 8px;
  height: 100%;
  line-height: 8px;
}
body .weui-search-bar__label {
  line-height: 10px;
  font-size: 10px;
}
body .weui-search-bar__box .weui-icon-clear {
  display: none;
}
body .weui-search-bar__form {
  background-color: #f8f4f2;
}
body .weui-cells.vux-search_show {
  display: none;
}

// 服务评价
body .weui-media-box__title {
  font-size: 7px;
}
body .weui-media-box_appmsg .weui-media-box__hd {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-right: 8px;
}
body .weui-media-box__desc {
  font-size: 6px;
}
body .weui-media-box__desc .user-text{
  padding-top: 2px;
}
// loding
body .weui-loading_toast .weui-toast .weui-toast__content {
  // font-size: 7px;
  color: $font-color-theme1;
}
body .weui-loading_toast .weui-toast {
  width: 100px;
  height: 40px;
  min-height: 40px;
  transform: translate(-50px, -20px);
  margin-left: 0;
}
body .appraise-sheet .weui-media-box_appmsg .weui-media-box__hd {
  margin-top: 4px;
  margin-left: 0;
  margin-right: 6px;
  width: 30px;
  height: 30px;
}
body .weui-panel:before {
  border-top: 0.01333rem solid transparent;
}
body .weui-panel:after {

  border-bottom: 0.01333rem solid transparent;
}
body .weui-icon-success {
  font-size: 8px;
}
body .weui-icon-circle {
  font-size: 8px;
}
body .vux-check-icon > .weui-icon-success:before, .vux-check-icon > .weui-icon-success-circle:before {
  color: $background-color-theme1;
}
body .vux-tap-active {
  margin-left: 10px;
  vertical-align: middle;
}
body [class^="weui-icon-"]:before,body [class*=" weui-icon-"]:before {
  margin-left: 0;
  margin-right: 0;
}
body .weui-cells_checkbox .weui-icon-checked:before {
  font-size: 8px;
}
body .weui-cells_checkbox .weui-check:checked + .vux-checklist-icon-checked:before {
  color: $background-color-theme1;
  display: block;
    content: "";
    color: #fff;
    font-size: 8px;
    background: url(../images/checker-icon.png) no-repeat center;
    background-size: 100%;
    text-align: center;
    background-color: $background-color-theme1;
}
body .weui-cells_checkbox .weui-icon-checked:before {
  display: block;
    content: "";
    width: 8px;
    height: 8px;
    line-height: 8px;
    border: 0.1px solid $background-color-theme1;
    margin-right: 4px;
}
body .weui-cells:after {
  border-bottom: 0.01333rem solid transparent;
}
body .weui-cell:before {
  border-top: 0.01333rem solid transparent;
}
body .weui-dialog {
  max-width: 100% !important;
  width: 80% !important;
  border-radius: 4px;
}
// 弹窗样式
body .weui-dialog > div {
  width: 100%;
  padding: 4px;
  font-size: 6px;
}
body .weui-dialog__title {
  font-size: 6px;
}
body .weui-dialog__bd {
  margin-bottom: 2px;
}
body .weui-dialog__ft:after {
  border-top: 0.5px solid $border-color-theme;
}
body .weui-dialog__hd {
  margin-top: 2px;
}
// 时间样式
body .dp-header .dp-item {
  font-size: 7px;
}
body .scroller-item {
  font-size: 7px;
}

// 星星
body .vux-rater-box .vux-rater-inner span {
  display: none;
}
body .vux-rater-box .vux-rater-inner {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/stars-small-no.png) no-repeat center;
  background-size: 100%;
}
body .vux-rater-box.is-active .vux-rater-inner {
  background: url(../images/stars-small-select.png) no-repeat center;
  background-size: 100%;
}
.stars5 a:nth-child(6) .vux-rater-inner {
  background: url(../images/stars-small-half.png) no-repeat center;
  background-size: 100%;
}
.stars4 a:nth-child(5) .vux-rater-inner {
  background: url(../images/stars-small-half.png) no-repeat center;
  background-size: 100%;
}
.stars3 a:nth-child(4) .vux-rater-inner {
  background: url(../images/stars-small-half.png) no-repeat center;
  background-size: 100%;
}
.stars2 a:nth-child(3) .vux-rater-inner {
  background: url(../images/stars-small-half.png) no-repeat center;
  background-size: 100%;
}
.stars1 a:nth-child(2) .vux-rater-inner {
  background: url(../images/stars-small-half.png) no-repeat center;
  background-size: 100%;
}
// tab
body .vux-tab-wrap {
  height: 30px;
}
body .vux-tab .vux-tab-item {
  font-size: 12px;
  color: $font-color-themesec;
}

// 1px
body .vux-1px:before {
  content: " ";
  border: 1px solid $border-color-theme;
}
body .vux-1px-b:after {
  border-bottom: 1px solid $border-color-theme;
}

// toast
 body .weui-toast_text .weui-toast__content {
  font-size: 6px;
}

// 选择框
body .vux-popup-header {
  height: 30px;
}
[class^="vux-popup-header"] {
  font-size: 14px;
  padding: 2px;
}
body .vux-cell-value {
  color: $font-color-theme;
}
body .vux-cell-primary {
  padding: 0 10px;
}

// buttom-tab
body .vux-button-group > a.vux-button-group-current {
  background: $border-color-theme2;
}
body .vux-button-group {
  padding: 8px 40px;
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
  justify-content: space-between;
}
body .vux-button-group > a {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  flex: none;
  width: 40%;
  border-radius: 30px;
  color: $font-color-themesec;
}

body .vux-button-group > a.vux-button-tab-item-first {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
body .vux-button-group > a.vux-button-tab-item-last {
  border-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
body .vux-button-group > a.vux-button-tab-item-first:after {
  border: none;
  display: none;
}
body .vux-button-group > a:after {
  content: "";
  display: none;

}

// 新消息圆点
 body .vux-badge-dot {
  padding: 5px;
  margin-left: -10px;
}

// lb-popup
body .lb-popup {
  overflow: hidden;
  // border-radius: 2px;
  background-color: $background-color-theme;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 0;
    margin-left: 0;
    .weui-cell__hd {
      flex: 4;
      .weui-label {
        text-align: right;
        color: $font-color-theme;
      }
    }
    .vux-cell-primary {
      margin:0 10px;
      flex: 5;
      border-bottom: 1px solid $border-color-theme;
      height: 30px;
    }
    .weui-cell__ft {
      position: relative;
      flex: 1;
      height: 100%;
    }

  }
  .weui-cell_access {
    .weui-cell__ft:after {
      width: 5px;
      height: 5px;
      margin-top: -2.5px;
    }
  }

}
body .vux-cell-box:not(:first-child):before {
  left: 0;
  display: none;
}